body{
  background-color: #cc99ff;
}

h1{
  color: crimson;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: darkslateblue;
  margin: auto;
}

#circle {
  color: darkred;
  font-size: 40px;
}